@charset "UTF-8";

body{
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom: 0px;
	background-color: #e9e9df;
	background-image: url(../images/bg_aboutus.jpg);
	background-repeat: repeat-x;
}

/*todo///////////////////////////////////////////////////////////////////////////////////////////////*/
#content_todo {
	width: 900px;
	height: 949px;
	position: static;
	margin-right: auto;
	margin-left: auto;
	font-style: normal;
	font-weight: normal;
	margin-top: auto;
	margin-bottom: auto;
	}
	
#space_left {
	width: 18px;
	height: 949px;
	position: static;
	float: left;
	}
	
#space_left1 {
	width: 18px;
	height: 254px;
	position: static;
	float: left;
	background-image: url(../images/shadow_left_aboutus.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	}
	
/*CONTENIDO///////////////////////////////////////////////////////////////////////////////////////////////*/

#medium_todo {
	width: 863px;
	height: 949px;
	float: left;
	}
	
#green_todo {
	width: 863px;
	height: 254px;
	float: left;
	background-image: url(../images/green_todo_aboutus.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	}
	
#green_left {
	width: 140px;
	height: 254px;
	float: left;
	}
	
#green_medium_todo {
	width: 590px;
	height: 254px;
	float: left;
	}
	
#green_medium_1 {
	width: 590px;
	height: 174px;
	float: left;
	}
	
/*COMIENZA EL MENU///////////////////////////////////////////////////////////////////////////////////////////////*/

#green_medium_2 {
	width: 590px;
	height: 55px;
	float: left;
	background-image: url(../images/bg_menu_aboutus.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	}

#menu_todo {
	width: 580px;
	height: 53px;
	float: right;
	}

#menu_index {
	font-family: 'Homenaje';
	width: 70px;
	height: 53px;
	float: left;
	}
	
#menu_aboutus {
	font-family: 'Homenaje';
	width: 95px;
	height: 53px;
	float: left;
	background-image: url(../images/aboutus_down.jpg);
	background-repeat: no-repeat;
	}
	
#menu_services {
	font-family: 'Homenaje';
	width: 93px;
	height: 53px;
	float: left;
	}
	
#menu_solutions {
	font-family: 'Homenaje';
	width: 106px;
	height: 53px;
	float: left;
	}
	
#menu_technologies {
	font-family: 'Homenaje';
	width: 114px;
	height: 53px;
	float: left;
	}
	
#menu_contact {
	font-family: 'Homenaje';
	width: 93px;
	height: 53px;
	float: left;
	}
	
/*TERMINA EL MENU///////////////////////////////////////////////////////////////////////////////////////////////*/
	
.titPage {
	font-family: "Nixie One";
	color:#ff4800;
	font-size: 24pt;
	}
	
.textNormal{
	font-family: "Pontano Sans";
	color:#8d8772;
	font-size: 11pt;
	text-align: justify;
	vertical-align: top;
	}
	
.textNormal_left{
	font-family: "Pontano Sans";
	color:#8d8772;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}
	
.textNormal_left{
	font-family: "Pontano Sans";
	color:#8d8772;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
	}
	
.textNormal1{
	font-family: "Pontano Sans", sans-serif;
	color:#ff4800;
	font-size: 12pt;
	}
	
.textNormal_white{
	font-family: "Pontano Sans";
	color:#ffffff;
	font-size: 10pt;
	text-align: center;
	}
	
.textNormal1_rif{
	font-family: "Pontano Sans", sans-serif;
	color:#ff4800;
	font-size: 10pt;
	}
	
#gray1_todo {
	width: 863px;
	height: 239px;
	float: left;
	background-image: url(../images/gray1_aboutus.jpg);
	background-repeat: no-repeat;
	}
	
#gray1_left {
	width: 101px;
	height: 239px;
	float: left;
	}
	
#gray1_text1 {
	width: 400px;
	height: 199px;
	float: left;
	padding-top: 40px;
	}
	
#gray1_title {
	width: 400px;
	height: 29px;
	float: left;
	}
	
#gray1_text1 {
	width: 400px;
	height: 144px;
	float: left;
	padding-top: 10px;
	}
	
#gray1_space {
	width: 74px;
	height: 239px;
	float: left;
	}
	
#gray1_text2 {
	width: 205px;
	height: 199px;
	float: left;
	padding-top: 40px;
	}
	
#gray1_text2_title {
	width: 205px;
	height: 29px;
	float: left;
	}

#gray1_text2_title2 {
	width: 205px;
	height: 29px;
	float: left;
	}
	
#gray1_text2_text2 {
	width: 205px;
	height: 130px;
	float: left;
	padding-top: 10px;
	}
	
#gray2_todo {
	width: 863px;
	height: 254px;
	float: left;
	}

#gray2_left {
	width: 101px;
	height: 254px;
	float: left;
	}

#gray2_text {
	width: 679px;
	height: 214px;
	float: left;
	padding-top: 40px;
	}

#gray2_text_title2 {
	width: 679px;
	height: 28px;
	float: left;
	}

#gray2_text2_text1 {
	width: 659px;
	height: 122px;
	float: left;
	background-image: url(../images/valores_aboutus.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
	padding-top: 20px;
	}
	
#gray3_todo {
	width: 863px;
	height: 202px;
	float: left;
	}
	
#gray3_left {
	width: 82px;
	height: 202px;
	float: left;
	}
	
#gray3_medium-todo {
	width: 700px;
	height: 202px;
	float: left;
	}
	
#gray3_medium-up {
	width: 679px;
	height: 130px;
	float: left;
	padding-top: 36px;
	padding-left: 18px;
	}
	
#gray3_medium-rif {
	width: 558px;
	height: 26px;
	float: left;
	background-image: url(../images/rif_aboutus.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 10px;
	padding-left: 140px;
	}
	
/*FIN DEL CONTENIDO///////////////////////////////////////////////////////////////////////////////////////////////*/
#space_right {
	width: 18px;
	height: 949px;
	position: static;
	float: right;
    }
#space_right1 {
	width: 18px;
	height: 254px;
	position: static;
	float: right;
	background-image: url(../images/shadow_right_aboutus.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	}
