@charset "UTF-8";

body{
	margin:0px;
	background-color: #e9e9df;
	background-image: url(../images/bg_contact.jpg);
	background-repeat: repeat-x;
}

/* //////////////// MAIN SECTION //////////////// */

#content_todo {
	width: 900px;
	height: 1170px;
	position: static;
	margin: auto;
	font-style: normal;
	font-weight: normal;
	}

#space_left {
	width: 18px;
	height: 1170px;
	position: static;
	float: left;
	}

#space_left1 {
	width: 18px;
	height: 254px;
	position: static;
	float: left;
	background-image: url(../images/shadow_left_aboutus.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	}
	
/* //////////////// CONTENT SECTION //////////////// */

#medium_todo {
	width: 863px;
	height: 1170px;
	float: left;
	}

#green_todo {
	width: 863px;
	height: 254px;
	float: left;
	background-image: url(../images/green_todo_aboutus.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	}

#green_left {
	width: 140px;
	height: 254px;
	float: left;
	}

#green_medium_todo {
	width: 590px;
	height: 254px;
	float: left;
	}

#green_medium_1 {
	width: 590px;
	height: 174px;
	float: left;
	}

/* //////////////// MENU SECTION //////////////// */

#green_medium_2 {
	width: 590px;
	height: 55px;
	float: left;
	background-image: url(../images/bg_menu_aboutus.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	}

/* //////////////// CONTENT SECTION //////////////// */

#gray1_todo {
	width: 863px;
	height: 526px;
	float: left;
	background-color: #938d79;
	}

#gray1_left {
	width: 118px;
	height: 524px;
	float: left;
	background-image: url(../images/gray1_left_contact.jpg);
	background-repeat: no-repeat;
	}

#gray1medium_todo {
	width: 624px;
	height: 526px;
	float: left;
	}

#gray1medium_sup {
	width: 624px;
	height: 69px;
	float: left;
	background-image: url(../images/gray1_up_contact.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	}

#gray1medium_mapa {
	width: 624px;
	height: 372px;
	float: left;
	background-image: url(../images/map_contact.jpg);
	background-repeat: no-repeat;
	}

#gray1medium_inf {
	width: 624px;
	height: 83px;
	float: left;
	background-image: url(../images/gray1_down_contact.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	}

#gray1_right {
	width: 120px;
	height: 524px;
	float: left;
	background-image: url(../images/gray1_right_contact.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	}

#gray2_todo {
	width: 863px;
	height: 390px;
	float: left;
	background-image: url(../images/gray2_contact.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	}

#gray2_left {
	width: 83px;
	height: 390px;
	float: left;
	}

#gray2_medium_todo {
	width: 700px;
	height: 390px;
	float: left;
	}

#gray2_medium_left {
	width: 344px;
	height: 355px;
	float: left;
	}

#gray2_medium_right {
	width: 355px;
	height: 355px;
	float: left;
	}

#rif {
	width: 558px;
	height: 25px;
	float: left;
	background-image: url(../images/rif_contact.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	padding-top: 10px;
	padding-left: 140px;
	}

/* //////////////// TEXT STYLES SECTION //////////////// */

.titPage{
	font-family: "Nixie One";
	color:#768343;
	font-size: 18pt;
    }
.textNormal{
	font-family: "Pontano Sans";
	color:#938d79;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}
.textNormal_green{
	font-family: "Pontano Sans";
	color:#768343;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
}
.textNormal_naranja{
	font-family: "Pontano Sans";
	color:#ff4800;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}
.textNormal1{
	font-family: "Pontano Sans";
	color:#938d79;
	font-size: 10pt;
	text-align: left;
	vertical-align: top;
    }
.textrif_white{
	font-family: "Pontano Sans";
	color:#ffffff;
	font-size: 10pt;
	text-align: center;
    }
.textrif_naranja{
	font-family: "Pontano Sans", sans-serif;
	color:#ff4800;
	font-size: 10pt;
    }

#gray2_title {
	width: 319px;
	height: 35px;
	float: left;
	padding-top: 40px;
	padding-left: 25px;
	}

#gray2_address {
	width: 319px;
	height: 60px;
	float: left;
	padding-top: 2px;
	padding-left: 25px;
	}

#gray2_left_medium {
	width: 344px;
	height: 134px;
	float: left;
	}

#gray2_phones {
	width: 135px;
	height: 96px;
	float: left;
	padding-top: 38px;
	padding-left: 25px;
	}

#gray2_office_hours {
	width: 159px;
	height: 96px;
	float: left;
	padding-top: 38px;
	padding-left: 15px;
	}

#gray2_mail {
	width: 268px;
	height: 45px;
	float: left;
	padding-top: 20px;
	padding-left: 65px;
	}

#gray2_text_right {
	width: 335px;
	height: 54px;
	float: left;
	padding-top: 40px;
	padding-left: 20px;
	}

#gray2_form {
	width: 335px;
	height: 260px;
	float: left;
/*	background-image: url(../images/form_contact.jpg);
	background-repeat: no-repeat;
	background-position: left top;*/
	}
	
/* //////////////// FOOTER SECTION //////////////// */
s
#space_right {
	width: 18px;
	height: 1170px;
	position: static;
	float: right;
    }
#space_right1 {
	width: 18px;
	height: 254px;
	position: static;
	float: right;
	background-image: url(../images/shadow_right_aboutus.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	}
	
a:link #link_email {
	color: #ff4800;
	text-decoration: none;
}
/*ESTILOS DE HIPERVINCULOS///////////////////////////////////////////////////////////////////////////////////////////////

a:link {
	color: #ff4800;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #3e3e3e;
}
a:hover {
	color:#ff7200;
}
a:active {
	text-decoration: none;
	color: #ff4800;
}
*/
