@charset "UTF-8";

.inicioarma{font-family: "Pontano Sans ," sans-serif ;}
body{
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom: 0px;
	background-color: #e9e9df;
	background-image: url(../images/fondo_soluciones.jpg);
	background-repeat: repeat-x;
}
/*todo///////////////////////////////////////////////////////////////////////////////////////////////*/
#contenido_todo {
	width: 900px;
	height: 1021px;
	position: static;
	margin-right: auto;
	margin-left: auto;
	font-style: normal;
	font-weight: normal;
	margin-top: auto;
	margin-bottom: auto;
	}
#espacio_izq {
	width: 18px;
	height: 1021px;
	position: static;
	float: left;
	}
#espacio_izq1 {
	width: 18px;
	height: 254px;
	position: static;
	float: left;
	background-image: url(../images/sombra_izq_empre.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	}
/*CONTENIDO///////////////////////////////////////////////////////////////////////////////////////////////*/
#medio_todo {
	width: 863px;
	height: 1021px;
	float: left;
	}
#verde_todo {
	width: 863px;
	height: 254px;
	float: left;
	background-image: url(../images/verde_todo_empresa.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	}
#verde_izq {
	width: 140px;
	height: 254px;
	float: left;
	}
#verde_medio_todo {
	width: 590px;
	height: 254px;
	float: left;
	}
#verde_medio_1 {
	width: 590px;
	height: 174px;
	float: left;
	}
/*COMIENZA EL MENU///////////////////////////////////////////////////////////////////////////////////////////////*/
#verde_medio_2 {
	width: 590px;
	height: 55px;
	float: left;
	background-image: url(../images/fondo_menu_empresa.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	}
#menu_todo {
	width: 580px;
	height: 53px;
	float: right;
	}
#menu_inicio {
	font-family: Homenaje;
	width: 70px;
	height: 53px;
	float: left;
	}
#menu_nosotros {
	font-family: Homenaje;
	width: 95px;
	height: 53px;
	float: left;
	}
#menu_sevicios {
	font-family: Homenaje;
	width: 93px;
	height: 53px;
	float: left;
	}
#menu_soluciones {
	font-family: Homenaje;
	width: 106px;
	height: 53px;
	float: left;
	background-image: url(../images/botones_menu/soluciones_down.jpg);
	background-repeat: no-repeat;
	}
#menu_tecnologias {
	font-family: Homenaje;
	width: 114px;
	height: 53px;
	float: left;
	}
#menu_contacto {
	font-family: Homenaje;
	width: 93px;
	height: 53px;
	float: left;
	}
/*TERMINA EL MENU///////////////////////////////////////////////////////////////////////////////////////////////*/
#gris1_todo {
	width: 863px;
	height: 221px;
	float: left;
	background-image: url(../images/gris1_soluciones.jpg);
	background-repeat: no-repeat;
	}
#gris1_izq {
	width: 110px;
	height: 221px;
	float: left;
	}
#gris1_izq1 {
	width: 17px;
	height: 221px;
	float: left;
	background-image: url(../images/soluciones_vineta1.png);
	background-repeat: no-repeat;
	}
/*TEXTOS ARRIBA///////////////////////////////////////////////////////////////////////////////////////////////*/
#gris1_text1 {
	width: 615px;
	height: 219px;
	float: left;
	}
#gris1_titulo {
	width: 615px;
	height: 35px;
	float: left;
	padding-top: 33px;
	}
#gris1_texto_normal {
	width: 615px;
	height: 40px;
	float: left;
	padding-top: 15px;
	}
#gris1_texto_resaltado {
	width: 615px;
	height: 85px;
	float: left;
	padding-top: 9px;
	}
/*TERMINAN TEXTOS ARRIBA Y COMIENZAN LOS ESTILOS DE TEXTO///////////////////////////////////////////////////////////////////////////////////////////////*/
.titPage{
	font-family: "Nixie One";
	color:#ff4800;
	font-size: 24pt;
    }
.text_resaltado{
	font-family: "Nixie One";
	color:#ff4800;
	font-size: 12pt;
    }
.textNormal{
	font-family: "Pontano Sans";
	color:#8d8772;
	font-size: 11pt;
	text-align: justify;
	vertical-align: top;
    }
.textNormal_izq{
	font-family: "Pontano Sans";
	color:#8d8772;
	font-size: 11pt;
	text-align: left;
	vertical-align: top;
}
.textNormal_center{
	font-family: "Pontano Sans";
	color:#8d8772;
	font-size: 11pt;
	text-align: center;
	vertical-align: top;
    }
.textNormal_blanco{
	font-family: "Pontano Sans";
	color:#ffffff;
	font-size: 10pt;
	text-align: center;
    }
.textNormal1_rif{
	font-family: "Pontano Sans", sans-serif;
	color:#ff4800;
	font-size: 10pt;
    }
.textNormal1{
	font-family: "Pontano Sans", sans-serif;
	color:#ff4800;
	font-size: 12pt;
    }
/*TERMINAN ESTILOS DE TEXTO///////////////////////////////////////////////////////////////////////////////////////////////*/
#gris2_todo {
	width: 863px;
	height: 394px;
	float: left;
	background-image: url(../images/gris2_soluciones.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	}
#gris2_izq {
	width: 110px;
	height: 394px;
	float: left;
	}
#gris2_izq1 {
	width: 17px;
	height: 394px;
	float: left;
	background-image: url(../images/soluciones_vinetas2.png);
	background-repeat: no-repeat;
	background-position: center top;
	}
/*TEXTOS MEDIO///////////////////////////////////////////////////////////////////////////////////////////////*/
#gris2_text {
	width: 615px;
	height: 394px;
	float: left;
	padding-top: 0px;
	}
#gris2_titulo1 {
	width: 605px;
	height: 24px;
	float: left;
	padding-top: 34px;
	padding-left: 10px;
	}
#gris2_titulo2 {
	width: 605px;
	height: 20px;
	float: left;
	padding-left: 10px;
	padding-top: 3px;
	}
#gris2_titulo3 {
	width: 605px;
	height: 20px;
	float: left;
	padding-top: 14px;
	padding-left: 10px;
	}
#gris2_titulo4 {
	width: 605px;
	height: 18px;
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	}
#gris2_titulo5 {
	width: 605px;
	height: 21px;
	float: left;
	padding-top: 5px;
	padding-left: 10px;
	}
#gris2_texto1 {
	width: 605px;
	height: 48px;
	float: left;
	padding-left: 10px;
	}
#gris2_texto2 {
	width: 605px;
	height: 34px;
	float: left;
	padding-top: 3px;
	padding-left: 10px;
	}
#gris2_texto3 {
	width: 605px;
	height: 23px;
	float: left;
	padding-top: 3px;
	padding-left: 10px;
	}
#gris2_texto4 {
	width: 605px;
	height: 30px;
	float: left;
	padding-top: 6px;
	padding-left: 10px;
	}
#gris2_texto5 {
	width: 605px;
	height: 35px;
	float: left;
	padding-top: 5px;
	padding-left: 10px;
	}
/*TERMINA TEXTOS MEDIO///////////////////////////////////////////////////////////////////////////////////////////////*/
#gris3_todo {
	width: 863px;
	height: 117px;
	float: left;
	background-image: url(../images/gris3_soluciones.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	}
#gris3_izq {
	width: 82px;
	height: 117px;
	float: left;
	}
#gris3_medio-todo {
	width: 700px;
	height: 117px;
	float: left;
	}
#gris3_medio-arriba {
	width: 641px;
	height: 84px;
	float: left;
	padding-top: 33px;
	padding-left: 50px;
	padding-right: 10px;
	}
#gris3_medio-rif {
	width: 558px;
	height: 26px;
	float: left;
	background-image: url(../images/rif_empresa.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-top: 10px;
	padding-left: 140px;
	}
/*FIN DEL CONTENIDO///////////////////////////////////////////////////////////////////////////////////////////////*/
#espacio_dere {
	width: 18px;
	height: 1021px;
	position: static;
	float: right;
    }
#espacio_dere1 {
	width: 18px;
	height: 254px;
	position: static;
	float: right;
	background-image: url(../images/sombra_dere_empre.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	}
