@charset "UTF-8";

body{
	margin-left:0px;
	margin-top:0px;
	margin-right:0px;
	margin-bottom: 0px;
	background-color: #778341;
	background-image: url(../images/bg_technologies.jpg);
	background-repeat: repeat-x;
}
/*todo///////////////////////////////////////////////////////////////////////////////////////////////*/
#content_todo {
	width: 900px;
	height: 1311px;
	position: static;
	margin-right: auto;
	margin-left: auto;
	font-style: normal;
	font-weight: normal;
	margin-top: auto;
	margin-bottom: auto;
	}

#space_left {
	width: 18px;
	height: 1311px;
	position: static;
	float: left;
	}

#space_left1 {
	width: 18px;
	height: 254px;
	position: static;
	float: left;
	background-image: url(../images/shadow_left_aboutus.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	}
/*CABECERO///////////////////////////////////////////////////////////////////////////////////////////////*/
#medium_todo {
	width: 863px;
	height: 1311px;
	float: left;
	}

#green_todo {
	width: 863px;
	height: 254px;
	float: left;
	background-image: url(../images/green_todo_aboutus.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	}

#green_left {
	width: 140px;
	height: 254px;
	float: left;
	}

#green_medium_todo {
	width: 590px;
	height: 254px;
	float: left;
	}

#green_medium_1 {
	width: 590px;
	height: 174px;
	float: left;
	}
/*COMIENZA EL MENU///////////////////////////////////////////////////////////////////////////////////////////////*/
#green_medium_2 {
	width: 590px;
	height: 55px;
	float: left;
	background-image: url(../images/bg_menu_aboutus.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	}

#menu_todo {
	width: 580px;
	height: 53px;
	float: right;
	}

#menu_index {
	font-family: 'Homenaje';
	width: 70px;
	height: 53px;
	float: left;
	}

#menu_aboutus {
	font-family: 'Homenaje';
	width: 95px;
	height: 53px;
	float: left;
	}

#menu_services {
	font-family: 'Homenaje';
	width: 93px;
	height: 53px;
	float: left;
	}

#menu_solutions {
	font-family: 'Homenaje';
	width: 106px;
	height: 53px;
	float: left;
	}

#menu_technologies {
	font-family: 'Homenaje';
	width: 114px;
	height: 53px;
	float: left;
	background-image: url(../images/technologies_down.jpg);
	background-repeat: no-repeat;
	}

#menu_contact {
	font-family: 'Homenaje';
	width: 93px;
	height: 53px;
	float: left;
	}
/*TERMINA EL MENU Y EMPIEZA EL CONTENIDO///////////////////////////////////////////////////////////////////////////////////////////////*/
#gray1_todo {
	width: 863px;
	height: 755px;
	float: left;
	background-image: url(../images/gray1_technologies.jpg);
	background-repeat: no-repeat;
	background-color: #8d8772;
	}

#gray1_left {
	width: 154px;
	height: 755px;
	float: left;
	}

#gray1_content_todo {
	width: 564px;
	height: 755px;
	float: left;
	}

#gray1_text_sup {
	width: 564px;
	height: 100px;
	float: left;
	}

#gray1_content_bullets {
	width: 564px;
	height: 655px;
	float: left;
	}

#gray1_bullets_left {
	width: 23px;
	height: 655px;
	float: left;
	}

#gray1_titles1 {
	width: 541px;
	height: 52px;
	float: left;
	}

#gray1_space_medium {
	width: 103px;
	height: 52px;
	float: left;
	}

#gray1_texts_1 {
	width: 541px;
	height: 158px;
	float: left;
	}

#section {
	width: 863px;
	height: 19px;
	float: left;
	background-image: url(../images/sections_services.png);
	background-repeat: repeat-x;
	}

#gray1_space_medium2 {
	width: 208px;
	height: 158px;
	float: left;
	}

#gray1_titles2 {
	width: 541px;
	height: 103px;
	float: left;
	}

#gray1_space_medium3 {
	width: 166px;
	height: 102px;
	float: left;
	}

#gray1_texts3 {
	width: 541px;
	height: 304px;
	float: left;
	}

#gray1_space_medium4 {
	width: 207px;
	height: 304px;
	float: left;
	}

#white_todo {
	width: 863px;
	height: 188px;
	float: left;
	background-color: #FFFFFF;
	}

#white_left {
	width: 112px;
	height: 188px;
	float: left;
	}

#white_logos {
	width: 639px;
	height: 188px;
	float: left;
	background-image: url(../images/logos_technologies.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	}

#down_todo {
	width: 864px;
	height: 93px;
	float: left;
	}

#down_left {
	width: 83px;
	height: 93px;
	float: left;
	}

#down_medium_todo {
	width: 700px;
	height: 93px;
	float: left;
	}

#down_medium_up {
	width: 700px;
	height: 59px;
	float: left;
	}

#down_medium_rif {
	width: 560px;
	height: 26px;
	float: left;
	background-image: url(../images/rif_technologies.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-left: 140px;
	padding-top: 10px;
	}
/*ESTILOS TEXTOS///////////////////////////////////////////////////////////////////////////////////////////////*/
.titPage{
	font-family: "Nixie One";
	color:#ede9d4;
	font-size: 18pt;
    }
.textNormal{
	font-family: "Pontano Sans";
	color:#ffffff;
	font-size: 11pt;
    }
.text_resaltado{
	font-family: "Nixie One";
	color:#ede9d4;
	font-size: 13pt;
    }
.textrif_white{
	font-family: "Pontano Sans";
	color:#ffffff;
	font-size: 10pt;
	text-align: center;
    }
.textrif_naranja{
	font-family: "Pontano Sans", sans-serif;
	color:#ff4800;
	font-size: 10pt;
    }
/*TERMINAN LOS ESTILOS DE TEXTO Y EMPIEZAN LOS TEXTOS///////////////////////////////////////////////////////////////////////////////////////////////*/
#gray1_text_title {
	width: 434px;
	height: 29px;
	float: left;
	padding-left: 130px;
	padding-top: 25px;
	}

#gray1_text_text {
	width: 554px;
	height: 23px;
	float: left;
	padding-top: 20px;
	padding-left: 10px;
	}

#gray1_title_left1 {
	width: 202px;
	height: 35px;
	float: left;
	padding-top: 16px;
	}

#gray1_title_right1 {
	width: 130px;
	height: 35px;
	float: left;
	padding-top: 16px;
	padding-left: 10px;
	}

#gray1_texts_left1 {
	width: 107px;
	height: 158px;
	float: left;
	line-height: 27px;
	}

#gray1_texts_right1 {
	width: 94px;
	height: 83px;
	float: left;
	line-height: 27px;
	}

#gray1_titles2_left {
	width: 140px;
	height: 45px;
	float: left;
	padding-top: 58px;
	}

#gray1_titles2_right {
	width: 84px;
	height: 44px;
	float: left;
	padding-left: 5px;
	padding-top: 58px;
	}

#gray1_texts3_left {
	width: 107px;
	height: 304px;
	float: left;
	line-height: 28px;
	}

#gray1_texts3_right {
	width: 93px;
	height: 304px;
	float: left;
	line-height: 28px;
	}
/*FIN DEL CONTENIDO///////////////////////////////////////////////////////////////////////////////////////////////*/
#space_right {
	width: 18px;
	height: 1311px;
	position: static;
	float: right;
    }
#space_right1 {
	width: 18px;
	height: 254px;
	position: static;
	float: right;
	background-image: url(../images/shadow_right_aboutus.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	}
