@charset "UTF-8";

.inicioarma{font-family: "Pontano Sans", sans-serif ;}

/* CCS for WOWSlider */
#slide_todo {
	width: 866px;
	height: 518px;
	float: left;
	}
#slide_arriba {
	width: 866px;
	height: 28px;
	float: left;
	}
#slide_izquierda {
	width: 87px;
	height: 433px;
	float: left;
	}
#slide_izquierda2 {
	width: 16px;
	height: 433px;
	float: left;
	}
#slide_eframe_todo {
	width: 651px;
	height: 491px;
	float: left;
	}
#slide_eframe_arriba {
	width: 866px;
	height: 27px;
	float: left;
	}
#slide_eframe_izq {
	width: 87px;
	height: 491px;
	float: left;
	}
#slide_eframe_izq1 {
	width: 17px;
	height: 433px;
	float: left;
	background-color: #3e3e3e;
	}
#slide_eframe_centro {
	width: 651px;
	height: 490px;
	float: left;
	}
#slide_eframe_centro1 {
	width: 651px;
	height: 17px;
	float: left;
    background-color: #3e3e3e;
	}
#slide_eframe_eframe {
	width: 651px;
	height: 396px;
	background-color: #8d8772;
	float: left;
	margin-right: auto;
	margin-left: auto;
	}
#slide_eframe_centro2 {
	width: 651px;
	height: 20px;
	float: left;
	background-color: #3e3e3e;
	background-image: url(../images/slide_bajo_index.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	}
#slide_eframe_centro3 {
	width: 651px;
	height: 57px;
	float: left;
	background-image: url(../images/slide_index_fondo.jpg);
	background-repeat: no-repeat;
	background-position: center center;
 	}
#slide_eframe_dere1 {
	width: 18px;
	height: 433px;
	float: left;
	background-color: #3e3e3e;
	}

/*cuerpo//////////////////////////////////////////////////////////////////////////////////////////*/
#contenido_centro_todo {
	width: 866px;
	height: 1024px;
	float: left;
	}
#arriba_todo {
	width: 866px;
	height: 229px;
	float: left;
	}
#arriba_izq {
	width: 128px;
	height: 229px;
	float: left;
	}
#arriba_medio_todo {
	width: 595px;
	height: 229px;
	float: left;
	}
#arriba_medio_arriba {
	width: 595px;
	height: 176px;
	float: left;
	}
